
@{
    ViewData["Title"] = "giriş";
}

<h1>seçiminizi yapın</h1>
<form >
    <input type="checkbox" name="dil1" value="ing">İngilizce
    <br>
    <input type="checkbox" name="dil2" value="fr">Fransızca
    <br>
    <input type="checkbox" name="dil3" value="alm">Almanca
    <br><br>
    <input type="submit">
</form>
