
@{
    ViewData["Title"] = "login";
}

<h1>login</h1>

<form method="post" action="/account/login">
<label>Enter Username</label>
<br />
<input type="text" name="username" />
<br />
<label>Enter Username</label>
<br />
<input type="password" name="password" />
<br />
<input type="submit" value=" login" />
</form>